:root {

    /* Color variables */

    --clr-primary: #4D4861;
    --clr-secondary: #F1FAEE;
    --clr-accent: #E9D985;
}

body {
    margin: 0;
    font-size: 1em;
    font-family: 'EB Garamond', serif;
}

.container {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}

/* Back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.primary__nav {
    background: var(--clr-primary);
    color: var(--clr-secondary);
}

.nav-link{
    box-shadow: inset 0 0 0 0 var(--clr-accent);
    color: var(--clr-accent);
    margin: 0;
    padding: .25em .5em .25em .5em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

.nav-link:hover {
    box-shadow: inset 500px 0px 0 0 var(--clr-accent);
    color: var(--clr-secondary);
}

.nav-item + .nav-item {
    margin-left: 2em;
}

.active {
    color: var(--clr-) !important;
    border-bottom: 2px solid var(--clr-accent);
}

.navbar-nav {
    align-items: center;
    --bs-nav-link-hover-color: none;
}

.navbar-toggler-icon {
    background-image: url("images/menu\(1\).png") 

    /* Will need to find different img for color (white) */
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar {
    --bs-navbar-toggler-border-color: none;
}

.navbar-collapse ul {
    text-transform: uppercase;
}

@media (max-width: 991px) {
    body {
        font-size: 1.125em;
    }

    .nav-item + .nav-item {
        margin-left: 0;
        margin-top: 1.5em;
    }

    .navbar-collapse ul {
        height: 90vh;
        height: 90dvh;
        font-size: 1.75em;
    }

    .navbar-collapse {
        transition: .5s;
    }

    .nav__list {
        padding: 2em 0em 2em 0em;

        display: flex;
        justify-content: space-evenly;
    }

    .navbar {
        --bs-navbar-brand-padding-y: 0;
    }
}